<div class="forgot-password">
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPasswordForm.status == 'VALID' && submit()">
        <mat-form-field>
            <input type="email" name="email" matInput formControlName="email" placeholder="Email" required>
            <mat-error align="start" *ngIf="formErrors.email" class="form__error">
                {{ formErrors.email }}
            </mat-error>
        </mat-form-field>

        <button type="submit" mat-raised-button color="primary" style="width: 49%; float: right;">
            Reset Password
        </button>

        <button type="button" mat-raised-button color="warn" (click)="close()" style="width: 49%; float: left;">
            Close
        </button>
    </form>
</div>