<spinner [(loading)]="loading" [(message)]="message"></spinner>

<div class="row-layout" admin-bar>
    <div class="container-layout">
        <img class="app-logo" src="./assets/favicon.ico">
        
        <div class="app-name">
            Your Account
        </div>

        <div button-right>
            <button mat-icon-button color="white" (click)="back()">
                <mat-icon aria-label="Back Home" matTooltip="Back Home">
                    arrow_back
                </mat-icon>
            </button>
        </div>
    </div>
</div>

<mat-toolbar>
    <div class="container-layout">
   
    </div>
</mat-toolbar>