<div class="unsubscribe">
    <form [formGroup]="unsubscribeForm" (ngSubmit)="unsubscribeForm.status == 'VALID' && submit()">
        <mat-form-field>
            <mat-select name="confirm" formControlName="confirm" placeholder="Unsubscribe From {{ data.description }}" required>
                <mat-option *ngFor="let o of options" [value]="o.value">
                    {{ o.description }}
                </mat-option>
            </mat-select>
            <mat-error align="start" *ngIf="formErrors.confirm" class="form__error">
                {{ formErrors.confirm }}
            </mat-error>
        </mat-form-field>

        <button type="submit" mat-raised-button color="warn" [disabled]="!unsubscribeForm.value.confirm">
            Unsubscribe
        </button>

        <button type="button" mat-raised-button color="positive" (click)="close()">
            Close
        </button>
    </form>
</div>