.image-upload-multiple {
    width: 100%;
    table {
        .add-image {
            width:          100px;
            height:         100px;
            border:         1px solid #9E9E9E;
            text-align:     center;
            img { 
                width:          100px;
                height:         100px;
            }
        }
    }
}