.department-editor * {
    width: 100%;
    label {
        margin-bottom: 20px;
    }
    button {
        margin-top: 20px;
    }
    .roles-list {
        margin-top:    10px;
        margin-bottom: 10px;
    }
}