<spinner [(loading)]="loading" [(message)]="message"></spinner>

<div class="row-layout" admin-bar>
    <div class="container-layout">
        <img class="app-logo" src="./assets/favicon.ico">
        
        <div class="app-name">
            Manage Admins
        </div>

        <div button-right>
            <button mat-icon-button color="white" (click)="back()">
                <mat-icon aria-label="Back To Admin Panel" matTooltip="Back To Admin Panel">
                    arrow_back
                </mat-icon>
            </button>
        </div>
    </div>
</div>

<mat-toolbar>
    <div class="container-layout">
        <button class="create-department" mat-raised-button color="positive" aria-label="Create Admin" matTooltip="Create Admin" (click)="OpenEditor('add')" [disabled]="!service.checkCredentials('createAdminAccount')">
            Create
        </button>
    </div>
</mat-toolbar>

<div class="row-layout">
    <div class="container-layout">
        <div fxFlex no-data *ngIf="admins.length == 0">
            <mat-card>
                No Admins Found!
            </mat-card>
        </div>

        <div class="admins-table-container mat-elevation-z8" *ngIf="admins.length > 0">
            <mat-table #mainAdminsTable [dataSource]="adminsDataSource" matSort>
                <ng-container matColumnDef="adminId">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                        Admin ID
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        # {{ element.adminId }}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="email">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                        Email
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        {{ element.email }}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="options">
                    <mat-header-cell *matHeaderCellDef>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <button mat-icon-button [matMenuTriggerFor]="menu" matTooltip="Admin Options" matTooltipPosition="left">
                            <mat-icon aria-label="Admin Options">more_vert</mat-icon>
                        </button>

                        <mat-menu #menu="matMenu">
                            <button mat-menu-item (click)="OpenViewer(element)" [disabled]="!service.checkCredentials('listAdminAccount')">
                                <mat-icon>
                                    assignment
                                </mat-icon>
                                <span>
                                    View
                                </span>
                            </button>
                            <button mat-menu-item (click)="OpenEditor('update', element)" [disabled]="!service.checkCredentials('updateAdminAccount')">
                                <mat-icon>
                                    mode_edit
                                </mat-icon>
                                <span>
                                    Edit
                                </span>
                            </button>
                            <mat-divider></mat-divider>
                            <button mat-menu-item color="warn" (click)="OpenDelete(element)" [disabled]="!service.checkCredentials('removeAdminAccount')">
                                <mat-icon>
                                    delete
                                </mat-icon>
                                <span>
                                    Delete
                                </span>
                            </button>
                        </mat-menu>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
        </div>
    </div>
</div>